#root {

  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.App {


  margin: 0;
  display: grid;

  grid-template-rows: min(195px) 1fr 1fr;

  min-height: 100%;



}



h1 {
  color: white;

}



.gridfot {
  grid-row: 3/3;
  height: 0;
  width: 100%;
}

.gridheader {
  grid-row: 1/1;
}

.gridpages {
  grid-row: 2/2;
}

body::-webkit-scrollbar {
  display: none;
}