@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,100&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html,
body,
#root,
.App {
  height: 100%;

}

.nekoimg {
  margin: 1% 3% 0;
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;

}