@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,100&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html,
body,
#root,
.App {
  height: 100%;
  font-family: 'Grandstander';

}

.nekoimg {
  margin: 1% 0;

  min-width: 150px;
  max-width: 150px;


  max-height: 200px;
  min-height: 200px;
}

.nekoselected {
  border: dashed blue;
  filter: drop-shadow(5px 5px 10px #1b1b1b);

}

.nekoimg:active {

  scale: 110%;

}

.nekoimg:hover {
  filter: brightness(80%);
}

.Toastify__toast--success {
  border: 10px solid #e138ff !important;
  border-radius: 50px !important;
  background: #dc7eb8 !important;
  color: black;

}

.toastProgress {
  background: #ffeaf8 !important;
}

.toastBody {
  font-family: 'Atlas Grotesk Web';
  color: #ffffff;
  /* #10171D */
  font-size: 1rem !important;
}