@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,100&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html,
body,
#root,
.App {
  height: 100%;

}

.nekoimg {
  margin: 1% 0;

  min-width: 200px;
  max-width: 200px;

  max-height: 200px;
  min-height: 100px;
}

.nekoselected {
  border: dashed blue;
  filter: drop-shadow(5px 5px 10px #1b1b1b);

}

.nekoimg:active {

  scale: 110%;

}

.nekoimg:hover {
  filter: brightness(80%);
}